[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/libhat"]
	path = vendor/libhat
	url = https://github.com/BasedInc/libhat
